In [2]:
import pandas as pd #dataframe library
import numpy as np #numeric library

#plot library
import matplotlib.pyplot as plt 
import seaborn as sns 

#evaluation library
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report,recall_score,precision_score

#label encoder library
from sklearn.preprocessing import LabelEncoder

# for min_max scaling (Kaggle)
from mlxtend.preprocessing import minmax_scaling

from sklearn.preprocessing import MinMaxScaler, StandardScaler

# for changing datatime type
from sklearn.preprocessing import StandardScaler

# for Box-Cox Transformation
from scipy import stats

# set seed for reproducibility
np.random.seed(0)

In [3]:
data = pd.read_excel("D:\TELKOM UNIVERSITY\Mata Kuliah Telkom University\Semester 8 (TA & SG)\website_data_fabric\colab\dataset\Original Data.xlsx")
data.head()

,day_no,time_no,service_filter,payment_cat,subs_no,subs_key,b_no,event_action_code,prefix_dom_sk_id,originating_cell_id,...,destination_poc,rem_bal,rtd_amt,free_unit,chrg_unit,rtd_unit,usg_unit,apn,sid,disc_amt
0,2021-09-01,2021-09-01 21:24:31,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18692,...,JKT,673,50,0.0,1,1,1,NaN,SILVER,0
1,2021-09-01,2021-09-01 21:29:28,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.38401,...,JKT,623,50,0.0,1,1,1,NaN,SILVER,0
2,2021-09-01,2021-09-01 21:36:35,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18693,...,JKT,573,50,0.0,1,1,1,NaN,SILVER,0
3,2021-09-01,2021-09-01 03:38:55,CONTEN,PRE,1075588229,6287775860056,0.000000e+00,O,-1,510.11.411131.6,...,0,1775,1,NaN,1024,1024,1024,internet,CATCHALL,0
4,2021-09-01,2021-09-01 07:43:24,VASOCC,PRE,1075588229,6287775860056,9.955702e+06,B,-1,0.0.0.0,...,0,7220,5500,0.0,1,1,1,NaN,SILVER,0

In [4]:
#count for missing data in each column and blank values in each column
missing_values_count = data.isnull().sum() + data.isin(['', ' ', None]).sum()
missing_values_count

day_no                     0
time_no                    0
service_filter             0
payment_cat                0
subs_no                    0
subs_key                   0
b_no                       0
event_action_code          0
prefix_dom_sk_id           0
originating_cell_id        0
home_poc                   0
city_name                  0
physical_poc               0
call_zone                  0
roam_zone                  0
destination_poc         4433
rem_bal                    0
rtd_amt                    0
free_unit              14671
chrg_unit                  0
rtd_unit                   0
usg_unit                   0
apn                    29605
sid                        0
disc_amt                   0
dtype: int64

In [5]:
data = data.fillna(0)
data = data.replace(['', ' ', None], 0)
data

,day_no,time_no,service_filter,payment_cat,subs_no,subs_key,b_no,event_action_code,prefix_dom_sk_id,originating_cell_id,...,destination_poc,rem_bal,rtd_amt,free_unit,chrg_unit,rtd_unit,usg_unit,apn,sid,disc_amt
0,2021-09-01,2021-09-01 21:24:31,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18692,...,JKT,673,50,0.0,1,1,1,0,SILVER,0
1,2021-09-01,2021-09-01 21:29:28,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.38401,...,JKT,623,50,0.0,1,1,1,0,SILVER,0
2,2021-09-01,2021-09-01 21:36:35,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18693,...,JKT,573,50,0.0,1,1,1,0,SILVER,0
3,2021-09-01,2021-09-01 03:38:55,CONTEN,PRE,1075588229,6287775860056,0.000000e+00,O,-1,510.11.411131.6,...,0,1775,1,0.0,1024,1024,1024,internet,CATCHALL,0
4,2021-09-01,2021-09-01 07:43:24,VASOCC,PRE,1075588229,6287775860056,9.955702e+06,B,-1,0.0.0.0,...,0,7220,5500,0.0,1,1,1,0,SILVER,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44271,2022-04-30,2022-04-30 18:22:21,NATNAL,PRE,712325998,6287876157519,6.282320e+12,O,3207,510.11.25190.31588,...,BDG,2206,3950,0.0,2460,2460,2460,0,SILVER,0
44272,2022-04-30,2022-04-30 07:49:52,NATNAL,PRE,712325998,6287876157519,6.282320e+12,O,3207,510.11.25190.31588,...,BDG,6788,346,0.0,470,470,470,0,SILVER,0
44273,2022-04-30,2022-04-30 20:39:32,CONTEN,PRE,1182349800,6287888363420,0.000000e+00,O,-1,510.11.540155.1,...,00000000,1567,668,0.0,34201600,34201600,34201600,internet,VOLYOUTUBE,0
44274,2022-04-30,2022-04-30 11:27:42,CONTEN,PRE,1182349800,6287888363420,0.000000e+00,O,-1,510.11.540155.1,...,00000000,5415,6,0.0,307200,307200,307200,internet,VOLYOUTUBE,0
44275,2022-04-30,2022-04-30 22:27:26,NATNAL,PRE,767791937,6283139558222,6.282316e+12,O,3207,510.11.25190.36365,...,BDG,23153,800,0.0,800,800,800,0,SILVER,0

In [6]:
#count for missing data in each column and blank values in each column
missing_values_count = data.isnull().sum() + data.isin(['', ' ', None]).sum()
missing_values_count

day_no                 0
time_no                0
service_filter         0
payment_cat            0
subs_no                0
subs_key               0
b_no                   0
event_action_code      0
prefix_dom_sk_id       0
originating_cell_id    0
home_poc               0
city_name              0
physical_poc           0
call_zone              0
roam_zone              0
destination_poc        0
rem_bal                0
rtd_amt                0
free_unit              0
chrg_unit              0
rtd_unit               0
usg_unit               0
apn                    0
sid                    0
disc_amt               0
dtype: int64

In [7]:
# show data types from each column
print(data.dtypes)

day_no                 datetime64[ns]
time_no                datetime64[ns]
service_filter                 object
payment_cat                    object
subs_no                         int64
subs_key                        int64
b_no                          float64
event_action_code              object
prefix_dom_sk_id                int64
originating_cell_id            object
home_poc                       object
city_name                      object
physical_poc                   object
call_zone                      object
roam_zone                      object
destination_poc                object
rem_bal                        object
rtd_amt                         int64
free_unit                     float64
chrg_unit                       int64
rtd_unit                        int64
usg_unit                        int64
apn                            object
sid                            object
disc_amt                        int64
dtype: object